@import '../../node_modules/jquery-ui-dist/jquery-ui.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  min-height: 100vh;
}

.wrapper {
  width: 600px;
  height: 300px;
  margin: auto;
}

.color-slider {
  display: flex;
  flex-direction: column;
}

.color-slider__fieldset {
  margin-bottom: 20px;
}

.color-slider__wrapper {
  display: flex;
  justify-content: start;
}

.color-slider__controls {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

.color-slider__text {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dcdcdc;

  font-family: serif;
}

.button {
  padding: 5px 10px;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.ui-slider {
  margin-bottom: 30px;
}

.ui-slider:last-child {
  margin-bottom: 0;
}